body{
    background-color: #000000ab;
}
h2 {
    color: #d4af37;
    font-family: revert-layer;
    padding: 0.5vh;
    font-size: 5vh;
    text-align: center;
    border-top: #d4af37 solid 2px;
    font-family: "Segoe UI", sans-serif;
}
nav{
    text-align: center;
    font-size: 1.7vh;
    background: #d4af37;
    height: 2vh;
    border-radius: 5px;
    font-family: "Segoe UI", sans-serif;
    width: 100%;
    position: sticky;
    top: 10px;
}
#nav{
    color: black;
    margin: 10px;
    text-decoration-line: none;
    padding: 4px;
    text-align: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
}
section div{
    background-color: #d4af37;
    border-radius: 10px;
    margin: 1vh;
    width: 30%;
    margin-left: 2.2vh;
    overflow: hidden;
    height: 235px;
    flex: 0 1 30%;
    box-shadow: 0 0 15px;
}
section div img{
    width: 100%;
    height: 175px;
    border-radius:10px ;
}
section div h3{
    margin-left: 10px;
    font-family: "Segoe UI", sans-serif;
}
section div p{
    margin-left: 10px;
    color: black;
    font-family: "Segoe UI", sans-serif;
}
#sec :hover{
    animation: move 2s step-start;
    animation-delay: 1s;
    height: 100%;
}
#section{
    float: left;
}
.iteam{
    background-color: #d4af37;
    width: 24%;
    margin-left: -5px;
    border-radius: 10px;
    overflow: hidden;
    height: 235px;
    box-shadow: 0 0 15px;
}
.iteam :hover{
    animation: move 2s step-start;
    animation-delay: 1s;
    height: 100%;
}
.iteam img{
    width: 100%;
    height: 175px;
    border-radius: 10px;
}
#section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
}
.test{
    text-align: center;
    font-size: 6vh;
    color: #d4af37;
    border-top: #d4af37 solid 2px;
}
.iteam p{
    margin-left: 1vh;
    color: black;
}
.iteam h4{
    margin-left: 1vh;
    color: black;
}
#section1 :hover{
    animation: move 2s step-start;
    animation-delay: 1s;
    height: 100%;
}
.sec a{
    text-decoration-line: none;
    color: black;
}
.map-logation{
    width: 100%;
    position: relative;
    max-width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px;
    margin-top: 40px;
}
iframe{
    height: 100%;
    width: 100%;
}
.about{
    background-color: #d4af37;
}
.conect {
    word-spacing: 35px;
    text-align: center;
    background-color: #d4af37;
    margin: 25px;
    height: 4vh;
    border-radius: 5px;
    
}
.conect a{
    text-decoration-line: none;
    color: black;
}
.add{
    background-color: #ffffff;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    margin-top: 35px;
    overflow: hidden;
    padding-top: 0px;
    
}
input,textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
hr{
    height: 2px;
    color:#d4af37;
}
